<%- include('layouts/header') %>
<%- include('layouts/navbar') %>

<h1><%= title %></h1>

<h2><%= item.name %></h2>

<p><%= item.description %></p>

<p>Giá: <%= item.price %> VNĐ</p>

<% if(item.hot){ %>
<p>Nổi bật</p>
<% } else { %>
<p>Bình thường</p>
<% } %>

<a href="/list">Quay lại</a>

<%- include('layouts/footer') %>